@font-face {
    font-family: Font;
    src: url("assets/OpenSans-Regular.ttf");
} 
 
body{
	max-width: 800px;
	font-family: Font, sans-serif;
	margin: 0 auto;
	background-color: #E6FFF2;	
}

 h4{
	margin: 0 auto;
	text-align: center;
}

input, select{
	display: block;
	width: 100%;
    padding: 12px 20px;
    margin-top: 5%;
    box-sizing: border-box;
	text-align: center;
 }

input[type='checkbox'] {
    width:30px;
    height:30px;
    background-color:white;
    border-radius:5px;
    border:2px solid #555;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
}

input[type='radio'] {
    display: none;
}

fieldset {
    border: 0;
}

main{
	margin: 0 auto;
	width:100%;
}

label{
	display: block;
	font-weight: bold;
	margin-top: 10%;
	text-align: center;
}
 
button{
	width: 100%;
	padding: 10px;
}

fieldset  button{
	margin-top: 10%;
}

.edit_data{
	margin: 0 auto;
	padding-left: 0px;
	width:70%;
	list-style: none;
}

.edit_data li{
	border: 1px solid rgb(150,150,150);
	border-radius: 5px;
	padding: 5px;
	text-align: justify;
}

.edit_data li:hover{
	background-color: grey;
}

.edit_data img{
	float: right;
	margin-top: -4px;
}

.title{
	margin: 0;
	padding: 5px;
    background-color: #34675C;
    display: flex;
    justify-content: center;
    font-size: 38px;
	font-weight: bold;
	color: white;
}

.navigation ul{
	
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 1px;
	list-style: none;
	justify-content: center;
    background-color: #86AC41;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
	text-align: center;
}

.navigation ul li{
	width:100%;
}

.navigation a:hover {
    background-color: #7DA5C1;
	
}

.selected{
	 background-color: #7DA3A1;
	 position: relative ;
}

.navigation a {
    text-decoration: none;
	color: white;
	display: block;
	padding: 1em;
}

.content {
    margin-bottom: 5%;
}

.content > * {
    padding: 10px;    
}

.necessary_data_li{
	background-color: #34675C;
}

.unnecessary_data_li{
	background-color: #8FBC8F;
}

#scroll_list{
	
	height: 400px;
	overflow-y: auto;
	}
	
#message_box{
	width: 100%;
	margin: 0 auto;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 10%;
	text-align: center;
	color: black;
}

#message_box button{

	cursor: pointer;
	width: 50%;
	display: inline;
	padding: 1em;
	text-align: center;
	background-color: white;
	font-weight: bold;
}

#message_box button:hover{
	background-color: grey;
}

#columnchart{
	height:500px;
}

#edit button{
		
	font-size: 16px;
	font-weight: bold;
}


@media all and (max-width: 600px) {
    .navigation ul {
        flex-direction: column;
        flex-wrap: wrap;
		text-align:center;
        padding: 0;
		font-size: 20px;
		
		
	}
	
	.navigation li a{
		padding: 0;
	}
	
	.navigation li{
		outline: 1px solid black;
		padding-top: 3px;
		padding-bottom: 3px;
		
	}

	.title{
		font-size: 30px;
	}
	
	#columnchart{
		height:300px;
}
    
}
